# Creating pivot tables All

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('filtered_dataAll.csv', sep=';', encoding='utf-8-sig')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [165]:
df_2 = df['НомерЗаказаНаСайте'].unique() #проверяем длины по уникальным заказам
len(df_2)

127113

In [166]:
new_df = pd.DataFrame(columns=['Месяц', 'Выручка', 'Абсолютная маржа', 'Маржа', 'Кол-во чеков', 'Кол-во товаров', 'Кол-во уникальных клиентов', 'Средний чек', 'Среднее кол-во товаров в чеке', 'Ценность клиента', 'Доля выкупаемости товаров'])
new_df

Empty DataFrame
Columns: [Месяц, Выручка, Абсолютная маржа, Маржа, Кол-во чеков, Кол-во товаров, Кол-во уникальных клиентов, Средний чек, Среднее кол-во товаров в чеке, Ценность клиента, Доля выкупаемости товаров]
Index: []

In [167]:
s = set() #поиск типов для проверки
for el in df['ИспМаржа'].unique():
    s.add(type(el))
s

{numpy.float64}

We create a prototype of the function to create a table so that we can change the parameters and get data later. In the function we prescribe methods to search for this or that prameter. In this Dataset, the numbers are presented through a separator "," which prevented the function from working. For this purpose, in the table we used the function in the exel "=ПРЕДСТАВИТЬ(T2;",";".")".

In [3]:
def generate_table(df, column_name="МесяцДатыЗаказа"): 
    columns_list = [column_name, 'Выручка', 'Абсолютная маржа', 'Маржа', 'Кол-во чеков', 'Кол-во товаров', 'Кол-во уникальных клиентов', 'Средний чек', 'Среднее кол-во товаров в чеке', 'Ценность клиента'] 
    unique_values = df[column_name].unique()
    total = pd.DataFrame(columns=columns_list)
    for val in unique_values: 
        list_of_values = [val] 
        filtered_df = df[df[column_name] == val] 
        # Подсчет значений
        profit = int(round(filtered_df['НоваяСуммаСтроки'].sum()))                       #выручка 
        list_of_values.append(profit) 
        
        absmargin = int(round(filtered_df['ИспМаржа'].sum()))                           #абсолютная маржа 
        list_of_values.append(absmargin) 
        
        margin = absmargin/profit                                                #маржа
        list_of_values.append(margin) 
        
        df_numb_check = filtered_df['НомерЗаказаНаСайте'].unique()               #кол-во чеков 
        numb_check = df_numb_check.size
        list_of_values.append(numb_check) 
        
        numb_good = filtered_df['МесяцДатыЗаказа'].size                          #кол-во товаров 
        list_of_values.append(numb_good) 
        
        num_of_customers = filtered_df['Телефон_new'].unique().size              #кол-во уникальных клиентов
        list_of_values.append(num_of_customers)

        avarage_bill = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).mean()['НовСуммаЗаказаНаСайте'].mean())) #средний чек 
        list_of_values.append(avarage_bill)
        
        avarage_numb_good = int(round(filtered_df.groupby(['НомерЗаказаНаСайте']).count()['НовСуммаЗаказаНаСайте'].mean())) #Среднее кол-во товаров в  чеке
        list_of_values.append(avarage_numb_good)
        
        value_of_customer = int(round(absmargin /num_of_customers))                      #ценность клиента
        list_of_values.append(value_of_customer)
        
        
        tmp_df = pd.DataFrame([list_of_values], columns=columns_list) 
        total = total.append(tmp_df, ignore_index=True)
    return total

In [169]:
pivot_table = generate_table(df, column_name="МесяцДатыЗаказа")

In [170]:
pivot_table

,МесяцДатыЗаказа,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,7,198388068,37951766,0.191301,61356,225913,50366,3637,4,754
1,8,207539388,36506233,0.175900,65757,247591,54777,3599,4,666

In [171]:
pivot_table.to_csv('pivot_tableМесяцРазмещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [172]:
new_df1 = pd.DataFrame(columns=['Месяц', 'Выручка', 'Абсолютная маржа', 'Маржа', 'Кол-во чеков', 'Кол-во товаров', 'Кол-во уникальных клиентов', 'Средний чек', 'Среднее кол-во товаров в чеке', 'Ценность клиента', 'Доля выкупаемости товаров'])
new_df1

Empty DataFrame
Columns: [Месяц, Выручка, Абсолютная маржа, Маржа, Кол-во чеков, Кол-во товаров, Кол-во уникальных клиентов, Средний чек, Среднее кол-во товаров в чеке, Ценность клиента, Доля выкупаемости товаров]
Index: []

In [173]:
pivot_table = generate_table(df, column_name="Группа2")

In [174]:
pivot_table

,Группа2,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,"ТЕКСТИЛЬ, ТРИКОТАЖ",58635687,14934355,0.254697,31483,98802,24706,3705,3,604
1,КОСМЕТИКА/ГИГИЕНА,12594414,2015036,0.159994,17078,50335,14162,3764,3,142
2,КРУПНОГАБАРИТНЫЙ ТОВАР,127699272,34468953,0.269923,19124,22620,17537,7936,1,1965
3,ДЕТСКОЕ ПИТАНИЕ,36239144,2054982,0.056706,18193,87486,13292,3900,5,155
4,ПОДГУЗНИКИ,63511190,1524580,0.024005,31274,45055,23810,3545,1,64
5,ОБУВЬ,18189346,3820227,0.210026,11895,19093,10108,3352,2,378
6,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,15684943,2465054,0.157161,13832,26899,12219,3954,2,202
7,ИГРУШКИ,60307193,10169130,0.168622,37901,85264,33082,2969,2,307
8,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",8367642,2485083,0.296987,7569,27350,6885,3310,4,361
9,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,4015770,313502,0.078068,2336,7206,1927,3366,3,163
10,ЖЕНСКИЕ ШТУЧКИ,156470,63504,0.405854,646,1919,596,3625,3,107
11,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,317484,74470,0.234563,391,632,364,3512,2,205
12,СОПУТСТВУЮЩИЕ ТОВАРЫ,208900,69122,0.330886,591,843,570,3711,1,121

In [175]:
pivot_table.to_csv('pivot_tableГруппа2Размещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [6]:
pivot_table = generate_table(df, column_name="Группа3")
pivot_table

,Группа3,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,ДЕТСКИЕ КОЛГОТКИ И НОСКИ,1020540,333703,0.326987,3485,9375,3128,3868,3,107
1,СРЕДСТВА ГИГИЕНЫ,2460838,356567,0.144897,7233,12540,6228,4406,2,57
2,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,1315044,500150,0.380329,2038,2480,1972,4643,1,254
3,ДЕТСКОЕ БЕЛЬЁ,2393594,645621,0.269729,3934,7036,3570,3775,2,181
4,ВЕРХНЯЯ ДЕТСКАЯ ОДЕЖДА,23688433,5671066,0.239402,7458,9233,6752,5621,1,840
...,...,...,...,...,...,...,...,...,...,...
90,БИЖУТЕРИЯ,844,284,0.336493,12,12,11,6782,1,26
91,СПОРТ.ИНВЕНТАРЬ,1359,511,0.376012,7,9,7,6324,1,73
92,СВЕТООТРАЖАЮЩИЕ ЭЛЕМЕНТЫ,2127,638,0.299953,3,3,3,2538,1,213
93,ТОВАРЫ ДЛЯ ЧЕРЕПАХ И РЕПТИЛИЙ,11990,1143,0.095329,3,3,3,5744,1,381
94,ТОВАРЫ ДЛЯ ХОРЬКОВ,6068,541,0.089156,2,2,2,3452,1,270

In [7]:
pivot_table.to_csv('pivot_tableГруппа3Размещенные.csv', index=False, sep=';', encoding='utf-8-sig')

In [8]:
pivot_table = generate_table(df, column_name="Регион")
pivot_table

,Регион,Выручка,Абсолютная маржа,Маржа,Кол-во чеков,Кол-во товаров,Кол-во уникальных клиентов,Средний чек,Среднее кол-во товаров в чеке,Ценность клиента
0,Москва,150023398,24788899,0.165234,48591,212704,36645,3524,4,676
1,Самара,5578011,956642,0.171502,1952,6237,1444,3180,3,662
2,Сочи,3667697,773834,0.210986,899,3331,623,4618,4,1242
3,Коломна (Московская область район),1736013,366225,0.210958,560,1872,390,3473,3,939
4,Новомосковск,1547180,324566,0.209779,562,1955,383,3172,3,847
...,...,...,...,...,...,...,...,...,...,...
447,Канск,13227,7952,0.601195,1,3,1,14527,3,7952
448,Островцы (Раменский район),3476,1089,0.313291,1,14,1,3870,14,1089
449,Горки-10 (Одинцовский район),3364,-82,-0.024376,1,2,1,3814,2,-82
450,Щербинка,2448,221,0.090278,1,6,1,2448,6,221
451,Жилино-1 (Люберецкий район),3488,977,0.280103,1,6,1,3638,6,977

In [9]:
pivot_table.to_csv('pivot_tableРегионРазмещенные.csv', index=False, sep=';', encoding='utf-8-sig')